html {
    font-family: 'Play', 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}

@media only screen and (min-width: 400px) {
    html {
        font-size: 12px;
    }
}
@media only screen and (min-width: 500px) {
    html {
        font-size: 13px;
    }
}
@media only screen and (min-width: 600px) {
    html {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) {
    html {
        font-size: 15px;
    }
}
@media only screen and (min-width: 992px) {
    html {
        font-size: 16px;
    }
}
@media only screen and (min-width: 1200px) {
    html {
        font-size: 17px;
    }
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: green;
}

header {
    position: fixed;
    top: -1.5rem;
    left: 25%;
    right: 25%;
    z-index: 100;
    text-align: center;
}

main {
    position: relative;
    top: 10rem;
}
li {
    line-height: 1.5rem;
}

.links {
    display: none;
}

.links select {
    margin: 0.5rem auto;
    font-size: 1.25rem;
    padding: 0.15rem;
}

#A {
    margin: auto;
}

#goals {
    height: auto;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: none;
}

.toggler {
    display: block;
    text-align: center;
    width: 50%;
    margin: 3rem auto;
}

.toggler p {
    padding: 0.4rem;
}

.uno {
    display: visible;
}

.dos {
    display: none;
}

#part1,
#part2,
#part3,
#part4,
#chart,
#part1-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 1rem;
  clear: both;
}
article{
    font-size: 1rem;
    flex: 1 1 400px;
    margin: 0.5rem 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: none;
}
.r,
thead {
    background-color: red;
}
.g,
tbody {
    background-color: green;
}
.b,
tfoot {
    background-color: blue;
}
footer {
    text-align: center;
    margin-top: 10rem;
}
video,
embed,
figure{
    width: 100%;
    height: auto;
}
